* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --botao-background: transparent;
}

body {
    background-image: linear-gradient(to top left, #1B1A55, #535C91, #9290C3);
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
}

.primeira {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 70vh;
}
.primeira div{
    flex-wrap: wrap;
}

input {
    display: flex;
    text-align: center;
    background-color: transparent;
    border: solid 0.5rem #fff;
    border-radius: 1rem;
    font-size: 1.3rem;
    color: #ffffff;
    width: 40vw;
    height: 40vh;
    word-break: break-all;
}


figure {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    color: black;
    padding-left: 1rem;
    width: 100%;
    height: 10vh;
}

.ponto-exclamacao {
    width: 2vw;
}

figcaption {
    color: #fff;
}

.sessao-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 35vh;
}

div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.criptografar,
.descriptografar {
    width: 18vw;
    height: 10vh;
    border-radius: 1rem;
    border: solid 1px;
    font-size: 1.3rem;
    color: #fff;
    background-color: transparent;
}

.criptografar:hover,
.descriptografar:hover {
    box-shadow: 0 0 1rem #fff, inset 0 0 2.5rem #070F2B;
    text-shadow: 0 0 2rem #ffff;
    transition: all 0.5s;
    cursor: pointer;
    color: #000;
}

.segunda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 50vw;
    height: 70vh;
}

#out-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
    height: 55vh;
    font-size: 1.3rem;
    color: #fff;
    background-color: transparent;
    border: solid 0.5rem #fff;
    border-radius: 1rem;
    text-align: center;
}

.letter {
    width: 10vw;
}

#out-input h3 {
    font-size: 1.3rem;
}

#out-input p {
    font-size: 1rem;
    opacity: 0.5;
}

.btn-copiar {
    width: 18vw;
    height: 10vh;
    border-radius: 1rem;
    border: solid 1px;
    font-size: 1.3rem;
    background-color: transparent;
    color: #fff;
}

.btn-copiar:hover {
    box-shadow: 0 0 1rem #fff, inset 0 0 2.5rem #070F2B;
    text-shadow: 0 0 2rem #ffff;
    transition: all 0.5s;
    cursor: pointer;
    color: #000;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: #fff;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    width: 20vw;
    height: 10vh;
}

li,
img {
    width: 3vw;
}

footer img:hover {
    background-color: #9290C3;
    border-radius: 1.2rem;
    border: solid 0.3rem rgb(21, 235, 21);
    width: 3.5vw;
    transition: all 0.5s;

}

@media(max-width:768px) {
    body {
        height: 130vh;
    }

    main {
        flex-direction: column;
        height: 120vh;
    }

    .primeira {
        height: 80vh;
        width: 100%;
    }

    input {
        width: 70vw;
        height: 60vh;
    }

    .sessao-botao {
        justify-content: space-evenly;
        width: 80vw;
    }

    .criptografar,
    .descriptografar {
        width: 25vw;
    }

    .segunda {
        width: 100%;
        height: 100%;
    }

    #texto {
        width: 80vw;
        height: 25vh;
    }

    .btn-copiar {
        width: 80vw;
        height: 10vh;
    }

    footer {
        display: none;
    }
}

@media(max-width:375px) {
    body {
        height: 120vh;
    }

    .primeira {
        width: 100%;
    }

    input {
        width: 100%;
        height: 40vh;
    }

    .sessao-botao {
        width: 100%;
        height: 30vh;
    }

    .criptografar,
    .descriptografar {
        width: 30vh;
    }

    .segunda {
        width: 100%;
        height: 40vh;
    }

    #out-input {
        width: 100%;
        height: 34vh;
        border: solid 0.3rem;
    }
    .btn-copiar{
        height: 8vh;
    }

    .letter {
        width: 13vh;
    }
}